[Unit]
Description=Schedule Project Field Mouse storage cleanup

[Timer]
OnBootSec=20min
OnUnitActiveSec=6h
RandomizedDelaySec=10min
Persistent=true
Unit=fieldmouse-cleanup.service

[Install]
WantedBy=timers.target
